body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    overflow: hidden;
    position : absolute;
    background-color: #F5F5F5
} 
a{blr:expression(this.onFocus = this.blur());}
a:focus{outline: none}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
.border-1px{
	 border-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAFklEQVQIW2O8d+/ef0YGBgYGCAHiAgBH1wc3qL2rEgAAAABJRU5ErkJggg==") 2 0 stretch;
}
.border-left{
    border-width:0px 0px 0px 1px;
}
.border-right{
    border-width:0px 1px 0px 0px;
}
.border-top{
    border-width:1px 0px 0px 0px;
}
.border-bottom{
    border-width:0px 0px 1px 0px;
}
*{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color:#656565;
	display: block;
}
a,span,p{text-align: center;}
a{text-decoration: none;}
ul{list-style-type: none;}
article+article{ margin: 1rem 0rem;background-color: #fff; padding: 0.8rem 5%;}
article>section+section{
	margin-top: 0.6rem;
}
article:last-child{
	margin-bottom: 3rem;
}

.app-header a,
.app-footer a{
	display: inline-block;
	margin-right: -4px;
	overflow: hidden; 
}
.app-header{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	background-color: #F05C48;
	
}
.app-header a:nth-child(2)>span{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.app-header>a:first-child{
	width: 25%;	
}
.app-header>a:first-child>span{
	color: #fff;
	font-size: 16px;
	font-weight: normal;	
}
.app-header>a:nth-child(2){
	width: 50%;	
	text-align: center;
}
.app-header>a:last-child{
	width: 25%;	
}

.app-footer{
	position: absolute;
	width: 100%;
	bottom:0px;
	left: 0px;
	height: 3.5rem;
	line-height: 3.5rem;
	opacity: 0.9;
	background-color: #f2f2f2;
}
.app-footer.border-top{
	border-width:1px 0px 0px 0px;
  border-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAFElEQVQImWOYPn36fwYEmD59+n8ANiwFiUlV1aIAAAAASUVORK5CYII=") 2 0 stretch;

}
.app-footer a{
	width: 25%;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
}

.app-footer img{
	display: inline-block;
	max-height: 2.5rem;
	vertical-align: middle;
	margin:auto;
	height: auto;
}
.app-content{
	width: 100%;
	overflow: scroll;
}
.slide-box nav{
	position: relative;
}
.slide-box nav>a{
	display: inline-block;
	width: 20%;
	height: 2.5rem;
	line-height: 2.5rem;
	margin-right:-4px; 
}
.slide-box nav>span{
	height: 0.2rem;
	width: 20%;
	background-color: #FC8181;
	left: 0px;
	bottom: 0rem;
	position: absolute;
}

.slide-box section{
	position: relative;
	width: 100%;
	height: 160px;
	overflow: hidden;
}

.slide-box section ul{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
}
.slide-box section li{
	display: inline-block;
	margin-right:-4px; 
}
.slide-box section li img{

	width: 100%;
	height: 100%;
}

.classify-box{
	margin-top: 0rem !important;
	padding-top: 1.2rem !important;
}

.classify-box .classify-small{
	border-bottom: 1px solid #dedede;
	padding-bottom: 1rem;
}
.classify-box .classify-small li{
	width: 20%;
	display: inline-block;
	margin-right:-4px; 
	text-align: center;
}
.classify-box .classify-small a:hover{
	background-color: #F05C48 !important;
}
.classify-box .classify-small a,
.classify-box .classify-small a:link{
	width: 3rem;
	height: 3rem;
	line-height: 3.8rem;
	background-color: #FC8181;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
}
.classify-box .classify-small span{
	padding-top: 0.5rem;
}
.classify-box .classify-small i{
	color: #fff;
}


.classify-box .classify-big h6{
	color: #323232;
	font-size:22px;
	text-align: center;
}
.classify-box .classify-big li{
	width: 33%;
	display: inline-block;
	margin-right:-4px;
	
}
.classify-box .classify-big li+li{
	border-left: 1px solid #dedede;	
}
.classify-box .classify-big img{
	width: 80%;
	height: auto;
	margin: 0 auto !important;
}

h6.title{
	font-size: 22px;
	color: #666666;
}
span.info{
	font-size: 12px;
	color: #C9C9C9;
	text-align: left;
}

.model-one header,
.model-two header,
.model-three header,
.model-four header{
	font-size: 22px;
	color: #666666;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #dedede;

}
.model-one div:first-child,
.model-two div:first-child{
	display: inline-block;
	margin-right: -4px;
	width: 33%;
}
.model-one div:last-child,
.model-two div:last-child{
	display: inline-block;
	margin-right: -4px;
	width: 66%;
	vertical-align: top;
}
.model-one div img,
.model-two div img{
	text-align: center;
	width: 80%;
	height: auto;
}
.model-one div li{
	width: 45%;
	display: inline-block;
	margin-right: -4px;
	padding:0.6rem 0;
	text-indent: 0.5rem;
	background-color: #ededed;
}
.model-one div li:nth-child(n+3){
	margin-top: 0.5rem;
}
.model-one div li:nth-child(2n-1){
	margin-right: 0.2rem;
}
.model-two div{

}

.model-three{
	margin-top: -0.6rem !important;
	padding-top: 0.5rem !important;
}
.model-three header{
	border: 0px ;
	padding-bottom: 0.5rem;
	margin:0rem;
}
.model-three div li{
	width: 33%;
	margin-right: -4px;
	display: inline-block;
}
.model-three div li img{
	width: 80%;
	height: auto;
}


